{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />


<div class="container">

  <div class="row">

      <div class="col-6">



      <div id="index-quote">

        <blockquote class="blockquote text-center">
          <p class="mb-0">The world is yours. Go see it, save it and share.</p>
          <footer class="blockquote-footer">Share your trip with <cite title="Source Title">Trip Drip</cite></footer>
        </blockquote>

      </div>

      </div>


      {% if session['logged_in'] %}
      <p>You're alredy logged In</p>
      {% else %}

      <div class="login col-6">
        <div class="jumbotron">
            <div align="center">
                <form method="POST">
                        {{ form.hidden_tag() }}

                    <div class="form-group">

                        {{ form.email(class='form-control', placeholder="Enter Your Email") }}
                    </div>

                    <div class="form-group">

                        {{ form.password(class='form-control', placeholder="Password") }}
                    </div>

                    <div class="form-group">
                        {{ form.submit(class='btn btn-primary btn-block') }}
                    </div>

                    <div class="forgot-password">
                      <a href="#">Forgot password?</a>
                    </div>

                    <div class="form-group" id="index-register">
                        <a class='btn btn-success btn-block' href="{{url_for('users.register')}}">Create Account</a>
                    </div>
                </form>
            </div>

        {% endif %}
        </div>



    </div>
  </div>

<div class="container">
  {% block login %}

  {% endblock %}
</div>



        {% for post in blog_posts.items %}

        <div class="card">
            <div class="card-body">
                <h2> <a class='card-title' href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
                <a href="{{url_for('users.user_posts', username=post.author.username)}}">Written By: {{ post.author.username }}</a>
                <p>Published on: {{post.date.strftime('%Y-%m-%d')}}</p>
                <a class="btn btn-primary" href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">Read blog Post</a>
            </div>

        </div>

        {% endfor %}

        {% for blog in trip_blogs.items %}

        <div class="card">
            <div class="card-body">
                <h2> <a class='card-title' href="{{ url_for('trip_blogs.trip_blog', username=blog.author.username, trip_blog_id=blog.id) }}">{{ blog.title }}</a></h2>
                <a href="{{url_for('users.user_trips', username=blog.author.username)}}">Written By: {{ blog.author.username }}</a>
                <p>Published on: {{blog.date.strftime('%Y-%m-%d')}}</p>
                <a class="btn btn-primary" href="{{ url_for('trip_blogs.trip_blog', username=blog.author.username, trip_blog_id=blog.id) }}">Read Trip Blog</a>
            </div>

        </div>

        {% endfor %}

    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if blog_posts.page == page_num %}

        <li class='page-item disabled'>
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>

        {% else %}

        <li class="page-item">
            <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
        </li>

        {% endif %}
    {% endfor %}

  </ul>
</nav>



{% endblock %}
