{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <div align="center">
            <h1>Welcome to the page for {{user.username}}</h1>
            <img src="{{url_for('static', filename='profile_pics/'+user.profile_image)}}">
        </div>
    </div>


{% for blog in trip_blogs.items %}

    <h2> <a href="{{url_for('trip_blogs.trip_blog', username=blog.author.username, trip_blog_id=blog.id)}}">{{blog.title}}</a> </h2>
    Written By: <a href="{{url_for('users.user_trips', username=blog.author.username)}}">{{blog.author.username}}</a>
    <p class='text-muted'>Published on: {{blog.date.strftime("%Y-%m-%d")}}"</p>
        <br>
        <p>{{blog.text}}</p>
        <br>

{% endfor %}

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for page_num in trip_blogs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if trip_blogs.page == page_num %}

        <li class='page-item disabled'>
            <a class="page-link" href="{{url_for('users.user_trips', username=user.username, page=page_num)}}">{{ page_num }}</a>
        </li>

        {% else %}

        <li class='page-item'>
            <a class="page-link" href="{{url_for('users.user_trips', username=user.username, page=page_num)}}">{{ page_num }}</a>
        </li>

        {% endif %}
    {% endfor %}

  </ul>
</nav>



{% endblock %}
